@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800')

html, body
  margin: 0
  padding: 0
  height: 100%
  font-family: 'Dosis', sans-serif

.particlesContainer
  height: 100%
  background-color: #031D2F
  position: relative

.splash
  position: absolute
  height: 100%
  width: 100%
  top: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center

  h1
    color: white
    text-align: center
    font-size: 100px
    font-weight: 200

.TopBarContainer
  width: 100%
  background-color: #01101B
  position: fixed
  z-index: 1000

  .TopBar
    
    .topBarSection
      
      .topBarText
        text-align: center
        padding: 10px 0
        margin: 0
        font-size: 15px
        color: #eee

.main
  height: 1000px   
      